<% content_for :table_filter do %>
  <div data-hook="admin_campaigns_filters">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="date-range-filter">
            <div class="form-group">
              <%= label_tag :q_starts_at_gt, Spree.t(:date_range) %>
              <div class="row">
                <div class="no-padding-bottom">
                  <div class="col-md-6">
                    <div class="input-group">
                      <%= f.text_field :starts_at_gt, :class => 'datepicker datepicker-from form-control', :value => params[:q][:starts_at_gt], :placeholder => Spree::Campaign.human_attribute_name(:starts_at) %>
                      <span class="input-group-addon">
                        <i class="icon icon-calendar"></i>
                      </span>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <%= f.text_field :expires_at_lt, :class => 'datepicker datepicker-to form-control', :value => params[:q][:expires_at_lt], :placeholder => Spree::Campaign.human_attribute_name(:expires_at) %>
                      <span class="input-group-addon">
                        <i class="icon icon-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :name_cont, Spree::Campaign.human_attribute_name(:name) %>
            <%= f.text_field :name_cont, :size => 15, class: "form-control js-quick-search-target" %>
          </div>
        </div>
      </div>

      <div data-hook="admin_orders_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>